body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    position: relative;
}
form {
    background: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Input ve textarea kutularının stilini belirle */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Butonun şık görünmesi için */
button {
    background: #c8102e;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

/* Butonun üzerine gelindiğinde */
button:hover {
    background: #e68900;
}

/* Sonuç mesajı için */
#result {
    margin-top: 10px;
    font-weight: bold;
}
header {
    background-color: #c8102e;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}
h2 {
    color: #c8102e;
    border-bottom: 2px solid #c8102e;
    padding-bottom: 5px;
 }
.auth-links {
    display: flex;
    gap: 15px;
}
.auth-links a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-size: 0.9rem;
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}
.auth-links a:hover {
    background-color: white;
    color: #dfa403;
}
a {
    color: rgb(12, 12, 12);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #dfa403;
}

       
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}
.contact-form input, .contact-form textarea, .contact-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.contact-form textarea {
    resize: none;
    height: 100px;
}
.contact-form button {
    background-color: #c8102e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}
.contact-form button:hover {
    background-color: #a00;
}
    
