body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    position: relative;
}
header {
    background-color: #c8102e;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}
h2 {
    color: #c8102e;
    border-bottom: 2px solid #c8102e;
    padding-bottom: 5px;
 }